<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to Dashboard</h1>
    <a href="{{ url_for('profile') }}"><button>Profile</button></a>
    <a href="{{ url_for('logout') }}"><button>Logout</button></a>
    <a href="https://6kqzl8rz-8000.inc1.devtunnels.ms/live.html" class="btn">Live Exercise</a>
    <a href="#" class="btn disabled">Exercise Recommendation</a>
    <a href="https://6kqzl8rz-8000.inc1.devtunnels.ms/ankan/form.html" class="btn">Diet Recommendation </a>
    <a href="https://6kqzl8rz-8000.inc1.devtunnels.ms/designing-a-modern-fitness-app-interface-with-html-and-css-source-code/index.html" class="btn">Performance</a>
    <a href="https://6kqzl8rz-8000.inc1.devtunnels.ms/basic_app_interface/index.html" class="btn">Keep Track </a>
    <a href="#" class="btn disabled">Smart Watch Integration (Under Development)</a>
    <a href="https://6kqzl8rz-8000.inc1.devtunnels.ms/ankan/find_nearest_gym.html" class="btn">Find Nearest Gym</a>
    <a href="#" class="btn">AI 3D Trainer </a>
    <a href="https://6kqzl8rz-8000.inc1.devtunnels.ms/gym_owner_dashboard.html" class="btn">Gym Owner Dashboard</a>
    <a href="https://cdn.botpress.cloud/webchat/v2.2/shareable.html?configUrl=https://files.bpcontent.cloud/2025/02/08/05/20250208052006-EHD069AN.json" class="btn">Chat Bot</a>
    <a href="https://6kqzl8rz-8000.inc1.devtunnels.ms/ar.html" class="btn">AR Demo Trainer</a>
    <a href="#" class="btn">Exercise History</a>
</body>

</html>